
  @font-face {
    font-family: "SchusterFraktur";
    src: url("/assets/fonts/Schuster-Fraktur.otf");
}

  @font-face {
    font-family: "Antiphony";
    src: url("/assets/fonts/AntiphonyWIP-HeadingRegularContraItalic.ttf");
}


  @font-face {
    font-family: "Antiphony-Bold";
    src: url("/assets/fonts/AntiphonyWIP-HeadingBoldContraItalic.ttf");
}


  @font-face {
    font-family: "Unnamed";
    src: url("/assets/fonts/ContrastBetsyCyril-Regular.ttf");
}


body {
  color: #3C50FF;
  background-color: #FFF6FE;
  font-family: "Antiphony";
  font-size: 2.7em;
  line-height: 2.7rem;
  margin:0px;
  @media only screen and (max-width: 600px) {
    font-size: 3.4em;
      line-height: 3.4rem;
}
}

.nav{
position:fixed;
width:100%;
padding-left:1em;
padding-top:1em;
padding-bottom:.4em;
z-index:-1;
@media only screen and (max-width: 600px) {
background-color: #FFF6FE;
    z-index:11;
       text-align: center;
       padding-left:0em;
       padding-top:.8em;
      transition:.4s;
    }
}




a {
  color: #3C50FF;
  text-decoration: none;

}

#bio{
    margin-left:1em;
    width:23%;
    float:left;
    margin-top:3em;
    position:fixed;
@media only screen and (max-width: 600px) {
    margin-top:.5em;
    margin-bottom:5%;
    margin-left:5%;
    width:90%;
    position:relative;
    }
}


#container{
margin-top:1.6em;
width:70%;
padding-right:1em;
padding-left:1em;
z-index:10;
float:right;
@media only screen and (max-width: 600px) {

padding-top:20%;
padding-left:0em;
padding-right:0em;
    width:100%;
    position:relative;
    text-align:center;
    }
}


.button{
  float:left;
  background-color:#AFFA9B;
  border: 0;
  border-radius: 100px;
  font-size: 2.5rem;
  font-family: "Antiphony-Bold";
  line-height: 30px;
  max-width: 480px;
  min-width: 0px;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  outline:4px solid #AFFA9B;
  @media only screen and (max-width: 600px) {
    font-size: 3.2rem;
    float:none;
    display:inline-block;
    position:relative;
      padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 17px;
    }
}

.spacer{
float:left;
display:inline-block;
position:relative;
width:18px;
height:1px;
@media only screen and (max-width: 600px) {
float:none;
width:5px;
    }

}

.button-light{
  float:left;
  background-color:#FFF6FE;
  border: 0;
  border-radius: 100px;
  font-size: 2.5rem;
  font-family: "Antiphony";
  line-height: 30px;
  max-width: 480px;
  min-width: 0px;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  outline:4px solid #AFFA9B;
    @media only screen and (max-width: 600px) {
        font-size: 3.2rem;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 17px;
    float:none;
    display:inline-block;
    position:relative;
    }
}

.button-light:hover{
  background-color:#AFFA9B;


}


.grid{
 margin-top:2em;
  width:100%;
@media only screen and (max-width: 600px) {
  width:92%;
margin-left:4%;
 margin-top:.5em;

}

}

.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-item{
  width: 48%;
  margin-right:1.8%;
  border-radius:2vw;
  float: left;
  margin-bottom:1.7%;
  @media only screen and (max-width: 600px) {
  border-radius:5vw;
  width: 100%;
  margin-bottom:4.7%;
    }

}


figure {
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

figure img{
    border-radius:.8em;
}

.post{
    margin-top:-50px;
    margin-left:20px;
    width:95%;
    font-family: "Unnamed";
    font-size: 1.4rem;
    line-height: 2rem;
    margin-bottom:15%; 
        text-align:left;
 @media only screen and (max-width: 600px) {
     margin-left:4%;
    width:92%;
 
 }


}

.post img{
    margin-top:50px;
    margin-bottom:30px;
    width:100%;
}


.logo{
    width:5em;
          transition:.4s;

}

.post p{
    margin-left:10%;
    width:50%;
      @media only screen and (max-width: 600px) {
      width:90%;
      margin-left:5%;
}

}


h1 {
  line-height: 2rem;
}

hr {
  text-align: center;
  border: 0;
}
hr:before {
  content: "/////";
}
hr:after {
  content: attr(data-content) "/////";
}

table, th, td {
  border: thin solid black;
  border-collapse: collapse;
}
