<style>


body{
  background-color: #fcfafa;
  color: #0a1e5a;
}


  .logo {
      content: url('/assets/images/posts/Polly/QF-Logo-Polly.svg'); /* Replace with your smaller image */
  }


  .post{

    color:#0a1e5a;

}

figure.outline img {
  border: 1px solid #c0c0c0;
}


.nav {
  @media only screen and (max-width: 1000px) {

    background-color: #fcfafa;
  }
}


figcaption{

border-left:3px solid #0a1e5a;
@media only screen and (max-width: 1000px) {
  border-left:0px solid #0a1e5a;
}
}

</style>
