<style>  @font-face {
    font-family: "SchusterFraktur";
    src: url("/assets/fonts/Schuster-Fraktur.otf");
}

  .post{
    display:inline-block;
    width:90%;
    margin-left:0%;
    font-family: "SchusterFraktur";
    color:#000;
    font-size: 2rem;
    line-height: 2.7rem;
 -webkit-hyphens: auto;
 -moz-hyphens: auto;
 -ms-hyphens: auto;
 hyphens: auto;
}

figure.small{
  display:inline-block;
  width:45%;
  margin-left:0%;
  float:left;
  margin-right:1.5em;
  margin-top: -1.5em;


  @media only screen and (max-width: 600px) {
    width: 100%;
    margin-left: 0%;
    margin-right:0;
  }
}


.post p {
  margin-left: 15%;
  width: 75%;

  @media only screen and (max-width: 600px) {
    width: 95%;
    margin-left: 2.5%;
  }

}
</style>