<style>


body{
  background-color: #FFF5E7;
  color: #B43232;
}


  .logo {
      content: url('/assets/images/posts/Unnamed/QF-Logo-Unnamed.svg'); /* Replace with your smaller image */
  }


  .post{

    color:#B43232;

}

figure.outline img {
  border: 1px solid #c0c0c0;
}


.nav {
  @media only screen and (max-width: 1000px) {

    background-color: #FFF5E7;
  }
}


figcaption{

border-left:3px solid #B43232;
@media only screen and (max-width: 1000px) {
  border-left:0px solid #B43232;
}
}

</style>
