<!doctype html>
<html>

<head>
  {% include head.html %}

  <link href="/css/lightbox.css" rel="stylesheet" />
  <script src="/assets/js/lightbox.js"></script>


  <script>
    lightbox.option({
      'imageFadeDuration': 0,
      'resizeDuration': 00,
      'wrapAround': true,
      'fitImagesInViewport': true,
      'showImageNumberLabel': false
    })
  </script>
</head>

<body>

  <div class="nav">
    <a href="/"> <img src="/assets/images/QF-Logo.svg" class="logo"></a>
  </div>

  <div id="container">
    <div id="typedesign-b"><img src="/assets/images/buttons/typedesign2.svg"></div>
    <div class="spacer"></div>
    <div id="lettering-b"><img src="/assets/images/buttons/lettering1.svg"></div>
  
    <!-- Pre-render both content sections -->
    <div class="grid" id="grid-type">
      {% for post in site.posts %}
      {% if post.categories contains 'type' %}
      <a href="{{ post.url }}"><img src="{{ post.image | prepend: site.baseurl }}" class="grid-item"
          alt="{{ post.title }}" title="{{ post.title }}"></a>
      {% endif %}
      {% endfor %}
    </div>

    
  
    <div class="grid" id="grid-lettering" style="display:none;">
      {% for post in site.posts %}
      {% if post.categories contains 'lettering' %}
      <a href="{{ post.image | prepend: site.baseurl }}" data-lightbox="Lettering">
          <img src="{{ post.image | prepend: site.baseurl }}" class="grid-item"
               alt="{{ post.title }}" title="{{ post.title }}">
      </a>
      {% endif %}
      {% endfor %}
    </div>
  </div>

  <div id="bio">
    {{ content }}
  </div>

  <script type="text/javascript" src="/assets/js/buttonclick.js"></script>

</body>

</html>