<!doctype html>
<html>
    {% include head.html %}
    
    {% if page.font %}
  {% include {{ page.font }} %}
{% endif %}
    


    <body>
    <div class="nav">
    <a href="/"> <img src="/assets/images/QF-Logo.svg" class="logo"></a>

</div> 
    
        <div id="container">
        
    
        <div class="post">

      {{ content }}
          </div>
</div>

 <div id="bio">
    <br>
QueerType is an independent type design studio founded by Betsy Schuster.
<br><br>
For licensing or other inquiries, please contact betsy@queertype.co
<br><br>
    </div>
  </body>

</html>
